<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid"> 

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mr-auto">
        <a href="#" class="nav-item nav-link active"><b>BUSINESS APPLICATION</b></a>              
      </div>
          
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active"><a href="#"><button class="btn btn-danger"><b>Kontrol Paneli</b></button></a></li>
    
      </ul>

    </div>
  </div>
</nav>







