<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/" style="font-size: 18px; margin-left: 10px;">BUSINESS PORTAL</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item nav-link active">Welcome, <b>{{request.user.username}}</b></li>
      <li class="nav-item active"><a href="/manager/logout"><button class="button_nav btn_logout"><b>Sign
              Out</b></button></a></li>
      {% else %}
      <p style="padding: 10px; margin-bottom: 0; color: #e0ecf7; font-size: 14px;">
        Already have an account?
      </p>
      <li class="nav-item active"><a href="/manager/login"><button
            class="button_nav btn_login"><b>Manager</b></button></a></li>
      <li class="nav-item active"><a href="/employer/login"><button
            class="button_nav btn_login"><b>Employer</b></button></a></li>
      {% endif %}
    </ul>

  </div>
</nav>