:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #adb5bd;

    --mainText: black;
    --secondaryText: black;

    --previewBg: rgb(251, 249, 243, 0.8);

    --previewShadow: #F0EAD6;

    --buttonColor: #173fb8;

}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body *{
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;

    text-shadow:
    0px 2px 0px #b2a98f,
    0px 4px 3px rgba(0,0,0,0.15),
    0px 4px 1px rgba(0,0,0,0.1);
}


p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Source Sans Pro', sans-serif;
}


a {
    text-decoration: none;
    font-weight: 700;
}


h1 { font-size: 42px;}
h2 { font-size: 34px;}
h3 { font-size: 26px;}
h4 { font-size: 22px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.navbar {
    border-bottom: 2px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;

    margin: auto;
    margin-top: 50px;
    width: 800px;

}

.main-container {
    background-color: var(--mainColor);
    border-bottom: 2px solid var(--borderColor);
    overflow: hidden;
    width: 700px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
}


.button-wrapper {
    display: block;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 10px;
}

.button {
    background-color: var(--buttonColor);
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
  }
  
.button span {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-weight: 10;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button:hover span {
    padding-right: 25px;
  }
  
.button:hover span:after {
    opacity: 1;
    right: 0;
  }














@media screen and (max-width: 1200px) {
    .navbar {
        width: 95%;
    }
    .main-container {
        width: 90%;
    }
}

