{% extends "layout.html" %}

{% block title %} DASHBOARD PAGE {% endblock title %}

{% block body %}

{% csrf_token %}

<div class="col-md-20 offset-md-0">
  <div class="common_div">
    <h5>GENERAL FORM</h5>
  </div><br>

    {% if posts %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">The Company</th>
          <th scope="col">Position</th>
          <th scope="col">Location</th>
          <th scope="col">Published Date</th>
          <th scope="col">Detail</th>
          
        </tr>
      </thead>
      <tbody>
        {% for i in posts %}
        <tr>
          <th scope="row">{{i.company}}</th>
          <td><a href="/manager/post/{{i.id}}">{{i.position}}</a></td>
          <td>{{i.location}}</td>
          <td>{{i.published_date.date}}</td>

          <td><a href="/manager/post/update/{{i.id}}" class="btn btn-outline-success">Update</a></td>
          <td><a href="/manager/post/delete/{{i.id}}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>

    {% else %}
    <div class="alert alert-danger">You do not have any posting records!</div>
    {% endif %}

  <div class="text-center"><a class="btn btn-success w-25 my-2 mb-2" href="/manager/addpost"><b>Publish</b></a>
  </div>


</div>




  
{% endblock body %}