{% extends "layout.html" %}

{% block title %} Employer Page {% endblock title %}

{% block body %}

{% csrf_token %}

<div class="col-md-20 offset-md-0">
    <div class="common_div">
        <h5>EMPLOYER PAGE</h5>
        <a href="/employer/profile"><button class="button"
                style="border-radius: 50px; padding: 5px; background-color: rgba(0, 255, 255, 0.452);"><span
                    style="font-size: 16px;">Profile</span></button></a>
    </div><br>

    <div class="common_div">
        <h5>Active job postings;</h5>
    </div><br>

    <form class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>


    {% if posts %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Publisher</th>
                <th scope="col">The Company</th>
                <th scope="col">Position</th>
                <th scope="col">Location</th>
                <th scope="col">Published Date</th>
            </tr>
        </thead>
        <tbody>
            {% for i in posts %}
            <tr>
                <th scope="row">{{i.publisher}}</th>
                <td>{{i.company}}</td>
                <td><a href="/employer/post-apply/{{i.id}}">{{i.position}}</a></td>
                <td>{{i.location}}</td>
                <td>{{i.published_date.date}}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% else %}
    <div class="alert alert-danger">Job posting not found!</div>
    {% endif %}

</div>

{% endblock body %}