{% extends "layout.html" %}

{% block title %} Employer Page {% endblock title %}

{% block body %}

{% csrf_token %}

<div class="col-md-20 offset-md-0">
    <div class="common_div">
        <h5>EMPLOYER PAGE</h5>
        <a href="/employer/profile"><button class="button"
                style="border-radius: 50px; padding: 5px; background-color: rgba(0, 255, 255, 0.644);"><span
                    style="font-size: 16px;">Profile</span></button></a>
    </div><br>

    <div class="common_div" style="background-color: #eaeaea;">
        <h5 style="color: black;">Active job postings</h5>
        <form class="form-inline my-2 my-lg-0">
            {% csrf_token %}
        <div class="common_div" style="background-color: rgba(0, 255, 255, 0.13);">
            <input type="search" class="form-control rounded" style="width: 300px;" type="text" name="keyword" placeholder="job search..." aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary" style="background-color: rgba(0, 255, 179, 0.856); border: none; color: rgb(0, 132, 255);">Search</button>
        </div>
        </form>
    </div><br>



    {% if posts %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Publisher</th>
                <th scope="col">The Company</th>
                <th scope="col">Position</th>
                <th scope="col">Location</th>
                <th scope="col">Published Date</th>
            </tr>
        </thead>
        <tbody>
            {% for i in posts %}
            <tr>
                <th scope="row">{{i.publisher}}</th>
                <td>{{i.company}}</td>
                <td><a href="/employer/post-apply/{{i.id}}">{{i.position}}</a></td>
                <td>{{i.location}}</td>
                <td>{{i.published_date.date}}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% else %}
    <div class="alert alert-danger">Job posting not found!</div>
    {% endif %}

</div>

{% endblock body %}