{% extends "layout.html" %}

{% block title %} Detail Post {% endblock title %}

{% block body %}

<div class="row">
    <div class="col-lg-10">
        <article>
            <header class="mb-4">
                <h3 class="fw-bolder mb-1" style="font-weight: 600;">{{post.position}}, <small>{{post.company}}</small></h3>
                <div class="text-muted fst-italic mb-2">
                    <p style="font-weight: 300;">
                        Published by {{post.publisher.username}} <br>
                        Published time: {{post.published_date.date}} <br>
                        Location: {{post.location}}
                    </p>
                </div>
            </header>
            <!-- 
            <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
            -->
            <section class="mb-5">
                <h5 class="fw-bolder mb-2 mt-2">Qualifications</h5>
                <p>{{post.qualifications}}</p>
        </article>

    </div>
  

</div>



  
{% endblock body %}