<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Layout {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>
    
    {% include "includes/navbar.html" %}

    <div class="main-container" style="background-color: rgba(0, 255, 255, 0.26)">

        {% if messages %}
            
        {% for message in messages %}
            {% if message.tags == "warning" %}
                <div class="alert alert-danger">{{ message }}</div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    
            {% endif %}
        {% endfor %}
        
        {% endif %}

        
        {% block body %}
        
        {% endblock body %}

        <footer>
            <div class="footerCol" style="padding: 40px 0 0 0; text-align: center;">
                <p>Copyright ©2022 Designed by <b>Ersel Kızmaz</b></p>
            </div>
        </footer>


    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js.map' %}"></script>

</body>

</html>