{% extends "layout.html" %}

{% block title %} LOGIN PAGE {% endblock title %}

{% block body %}


<div class="col-md-10 offset-md-1">
    <div class="card-header p-2" style="border-radius:8px; background-color: #00AFC1">
      
        <h4 class="text-white font-weight-bolder text-center mt-2 mb-0"><b>LOGIN FORM</b></h4>
     
    </div><br>
      
    <form method="post">
        {% csrf_token %}

        {{form.as_p}}
        <br>
    
    <p class="mt-4 text-sm text-center">Don't have an account? <a class="text-primary text-gradient font-weight-bold" href="/user/register">Register</a></p>
    <div class="text-center"><button class="btn btn-success w-50 my-1 mb-2" type="submit"><b>LOG IN</b></button></div>
    </form>
</div>



{% endblock body %}