{% extends "layout.html" %}

{% block title %} Login Page {% endblock title %}

{% block body %}
{% load crispy_forms_tags %}

<div class="col-md-10 offset-md-1">
    <div class="common_div">
      
        <h5>EMPLOYER LOGIN FORM</h5>
     
    </div><br>
      
    <form method="post">
        {% csrf_token %}

        {{form | crispy}}
    
        <div class="text-center"><button class="btn btn-success w-25 my-2 mb-3" type="submit"><b>LOG IN</b></button></div>
        <p class="text-center" style="margin-bottom: 3px; font-size: 14px; font-style: italic;">Don't have an account? <a href="/employer/register">Register</a></p>
        <p class="text-center" style="margin-bottom: 3px; font-size: 14px; font-style: italic;">Forgot Password? <a href="#">Reset password</a></p>
    </form>
</div>



{% endblock body %}