{% extends "layout.html" %}

{% block title %} Register Page {% endblock title %}

{% block body %}
{% load crispy_forms_tags %}
  
<div class="col-md-10 offset-md-1">
    <div class="common_div">
   
      <h5>EMPLOYER REGISTER FORM</h5>
   
    </div><br>

    <form method="post">
        {% csrf_token %}
        
        {{form | crispy}}
        
        <div class="text-center"><button class="btn btn-success w-25 my-2 mb-2"><b>REGISTER</b></button></div>

        <a href="/"> << Go home page</a>

      </form>

</div>

{% endblock body %}